.event-editor{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0; 
	left: 0;
	z-index: 105;
	width: 100vw;
	height: 100%;
	backdrop-filter: blur(2px);
}

.event-box{
	display: flex;
	background-color: #fff;
	border: 1px solid #969696;
	border-radius: 10px;
	padding: 40px;
	flex-direction: column;
	min-height: 500px;
	width: 600px;
}

.event-editor__title{
	margin: 10px 0;
}

.event-editor__name{
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
}

.event-editor__add{
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
	background-color: #fff;
	transition: all 0.1s ease;
	font-weight: bold;
	border: 1px solid #3788d8;
}

.event-editor__add:hover{
	background-color: #3788d8;
	color: #fff;
}

.event-editor__add:active{
	position: relative;
	top: 2px;
}

.event-editor__event{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	margin-bottom: 10px;
}

.event-editor__buttons{
	display: flex;
	width: 30%;
	justify-content: space-between;
	align-items: center;

}

.event-editor__button{
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #3788d8;
	cursor: pointer;
}

.event-editor__button:hover{
	background-color: #3788d8;
	color: #fff;
}

.event-editor__button.delete{
	width: 30px;
	height: 30px;
	padding: 5px;
	background: url(../components/images/icons/trashbin.png) no-repeat center;
	background-size: 20px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.event-editor__button.delete:hover{
	backdrop-filter: brightness(0.9)
}

.event-editor__button.delete:active{
	position: relative;
	top: 2px;
}

.event-editor__input{
	padding: 5px;
	border-radius: 5px;
	width: 50%;
	font-size: 15px;
}