.login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px; 
}

.login__form{
	display: flex;
	width: 300px;
    height: 300px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.login__fields {
	width: 100%;
}

.login__field{
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 25px;
	margin-top: 20px;
}

.login__form--input{
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid rgb(189, 188, 188);
	margin-top: 10px;
}

.login__buttons{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form__button{
	padding: 10px;
	font-size: 15px;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid rgb(189, 188, 188);
	cursor: pointer;
}

.form__button:active{
	position: relative;
	top: 2px;
}