.profile {
  margin-top: 50px;
}

.profile__data-box {
  display: flex;
  width: 50%;
}

.profile__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile__exit {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 108, 108, 0.333);
  border: none;
  cursor: pointer;
}

.profile__exit:active {
  position: relative;
  top: 2px;
}

.profile__data-set {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-bottom: 30px;
}

.profile__data-set.titles {
  width: 20%;
}

.profile__data.title {
  background-color: transparent;
  border: none;
  padding-left: 0;
}

.profile__data {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
}

.profile__events {
  width: 40%;
}

.profile__events--title {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.event {
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.event__date {
  width: 125px;
  padding: 10px 10px 10px 0;
  margin: 10px 0;
}

.event__title {
  padding: 10px;
  margin: 10px 0;
}
